@import 'colors';

.dropdown-group {
    position: relative;
}

.dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    background-color: $light;
    border: 1px solid $cus-green;
    z-index: 5;

    & > li {
        list-style: none;
        padding: 10px;
        font-size: 1em;
        cursor: pointer;
        border-bottom: 1px dotted grey;
    }

    & > li:last-child {
        border: none;
    }

    & > li:hover {
        color: $cus-green;
        text-decoration: underline $cus-green;
    }
}