@import 'colors';

.error {
	display: block;
	text-align: center;
	color: red;
	font-size: 1em;
	margin: 3px 0;
	animation: slideDown .3s ease-in;
    -webkit-animation: slideDown .3s ease-in;
    -moz-animation: slideDown .3s ease-in;
    -o-animation: slideDown .3s ease-in;
}

.success {
	display: block;
	width: 100%;
	text-align: center;
	color: $cus-green;
	font-size: 1em;
	margin: 3px 0;
	animation: slideDown .3s ease-in;
    -webkit-animation: slideDown .3s ease-in;
    -moz-animation: slideDown .3s ease-in;
    -o-animation: slideDown .3s ease-in;
}