@import 'colors';

.spinner {
    z-index: 20;
    margin: 6px 0;

    &::before {
        position: absolute;
        top: 5px;
        left: calc(50% - 10px);
        width: 20px;
        height: 20px;
        z-index: 20;
    }

    &:not(:required)::before {
        content: '';
        border-radius: 50%;
        width: 20px;
        height: 20px;
        z-index: 20;
        border: 3px solid transparent;
        border-top-color: $cus-green;
        border-bottom-color: $cus-green;
        -webkit-animation: spinner .6s linear infinite;
        -moz-animation: spinner .6s linear infinite;
        -o-animation: spinner .6s linear infinite;
        animation: spinner .6s linear infinite;
    }
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.lds-facebook {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 0;
    left: calc(50% - 30px);
    width: 100%;
        
    & div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 10px;
    border-radius: 3px;
    background: $secondary;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }

    & div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
    }

    & div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
    }

    & div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
    }
  }

@keyframes lds-facebook {
    0% {
      top: 6px;
      height: 26px;
    }
    50%, 100% {
      top: 14px;
      height: 10px;
    }
  }