@import 'colors';

#auth {
	width: auto;
	max-width: 500px;
	min-width: 350px;
	margin: 50px auto;
	box-shadow: 0px 1px 20px rgba(0,0,0,.3);
	padding: 20px 30px;
	border-radius: 3px;
	background-color: rgba(247, 247, 247, .7);
}

#auth-header {
	display: flex;
	justify-content: space-around;
	align-items: center;

	& > span.active {
		background-color: $cus-green;
		color: white;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
	}

	& > span {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		border: 1px solid $cus-green;
		border-bottom: 1px solid transparent;
		font-size: 16px;
		font-weight: 600;
		padding: 10px 0;

		&:not(.active):hover {
			color: $cus-green;
			text-decoration: underline $cus-green;
		} 
	}

	& > span:last-child {
		border-left: none;
		border-top-right-radius: 3px;
	}

	& > span:first-child {
		border-top-left-radius: 3px;
	}
}

.auth-block {
	display: block;
	min-height: 390px;
	border: 1px solid $cus-green;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
	background-color: rgba(247, 247, 247, .7);
}

.auth-block__title {
	font-size: 26px;
	font-weight: 600;
	margin-top: 10px;
	text-align: center;
}
