@import 'colors';

.header {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
    width: 100%;
    height: 60px;
    background-color: $cus-green;
    z-index: 20;
}

.header-title {
    color: $light;
}

@media (min-width: 451px) {
    .header-title {
        font-size: 2em;
    }
}

@media (max-width: 450px) {
    .header-title {
        font-size: 1.5em;
    }
}

.header-dropdown {
    width: 250px;
    height: calc(100vh - 60px);
    background-color: #527a7a;
    position: absolute;
    display: flex;
    right: 0;
    top: 60px;
    box-shadow: 0 0 30px 5px rgba(82, 122, 122, .5);
    z-index: 20;
}

.header-dropdown-closer {
    width: 20px;
    background-color: darken($cus-green, 5%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    & > svg {
        color: $light;
        font-weight: 600;
    }

    &:hover {
        background-color: darken($cus-green, 10%);
    }
}

.header-dropdown-content {
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-dropdown-title {
    text-align: center;
    flex-grow: 3;
    color: $light;
    font-size: 1.2em;
    margin: 10px 0;
}

.header-dropdown-avatar {
    width: 160px;
    height: 160px;
    border: 2px solid $light;
    margin: 10px auto;

    & > img {
        width: 100%;
        height: 100%;
    }
}

.header-dropdown-list {
    list-style: none;

    & > li {
        font-size: 1em;
        color: $light;
        padding: 10px;
        cursor: pointer;
    }

    & > li:hover {
        color: $yellow;
        text-decoration: underline $yellow;
    }
}

.header-dropdown-footer {
    & > div:last-child {
        text-align: center;
        color: $light;
        font-size: 14px;
        font-weight: normal;
        margin: 5px 0;
    }

    & > div:first-child {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            color: $light;
        }
    }
}

