@import 'colors';

.icon {
	font-size: 1.2em !important;
	height: 40px;
	width: 40px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;

	&:hover {
		background-color: rgba(247, 247, 247, .3);
		transition: all .2s ease;
	}

	&:active {
		transform: scale(.95);
	}

	&.light {
		color: $light;
	}

	&.dark {
		color: $dark;
	}
}

.icon-sm {
	font-size: 14px;
	height: 14px;
	width: 14px;
	cursor: pointer;
	margin: 0 5px;

	&:hover {
		color: $cus-green;
		transition: .3s ease-in;
	}
}