@import 'colors';

.share-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: $light;
    white-space: nowrap;
    min-width: 250px;
    z-index: 50;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);

    & > div {
        position: absolute;
        top: -8px;
        right: 60px;
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $light;
    }

    & > li {
        list-style: none;
        padding: 10px 15px;
        font-size: .9em;
        cursor: pointer;
        color: $dark;
        border-bottom: 1px dotted grey;
    }

    & > li:last-child {
        border: none;
    }

    & > li:hover {
        color: cornflowerblue;
        text-decoration: underline cornflowerblue;
    }
}
