@import 'colors';

.share-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: $light;
    border: .5px solid $cus-green;
    white-space: nowrap;
    min-width: 250px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 50;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    animation: menu-anim .1s ease-in;
    -webkit-animation: menu-anim .1s ease-in;
    -moz-animation: menu-anim .1s ease-in;
    -o-animation: menu-anim .1s ease-in;

    & > div {
        position: absolute;
        top: -8px;
        right: 60px;
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $light;
    }

    & > li {
        list-style: none;
        padding: 10px 15px;
        font-size: .9em;
        cursor: pointer;
        color: $dark;
        border-radius: 60px 0 0 60px;
    }

    & > li:last-child {
        border: none;
    }

    & > li:hover {
        background-color: $cus-green;
        color: white;
        transition: all .2s ease-in-out;
    }
}

@keyframes menu-anim {
    0% {transform: translateY(-8%); }
    100% {transform: translateY(0%); }
}