@import 'colors';

.share-menu {
    position: absolute;
    top: 58px;
    right: 0;
    background-color: $cus-green;
    white-space: nowrap;
    z-index: 50;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);

    & > div {
        position: absolute;
        top: -8px;
        right: calc(50% - 10px);
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $cus-green;
    }

    & > li {
        list-style: none;
        padding: 10px 15px;
        font-size: .9em;
        cursor: pointer;
        color: $light;
        border-bottom: 1px solid $light;
    }

    & > li:last-child {
        border: none;
    }

    & > li:hover {
        color: cornflowerblue;
        text-decoration: underline cornflowerblue;
    }
}
