@import 'colors';

.todo {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  min-width: 370px;
  margin: 10px auto;
  height: auto;
  box-shadow: 0px 1px 20px rgba(0,0,0,.3);
  padding: 20px 30px;
  border-radius: 3px;
  background-color: rgba(247, 247, 247, .7);
  position: relative;
}

.todo-side {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo-topnav {
  display: block;
  width: 90%;
  margin: 0 auto;

  & > div > span {
    color: $dark;
    font-size: 28px;
    font-weight: 600;
  }
}

#todo-topnav-items {
  position: relative;
}

#todo-input {
  display: flex;
  align-items: center;

  button {
    margin-left: 5px;
  }

  label {
    font-size: 12px;
  }
}

#todo-form {
  border-bottom: 1px solid $cus-green;
}

.todos-total {
  display: flex;
  align-items: center;
  background-color: #527a7a;
  padding: 5px 0;
  width: 95%;
  margin: 0 auto;
  
  span {
    font-size: 18px;
    cursor: pointer;
    padding: 0 2px;
  }
}

.todo-search {
  display: flex;
  align-items: center;
  background-color: #527a7a;
  padding: 10px;
  width: 95%;
  margin: 0 auto;
}

.todo-search-field {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;

  & > input {
    color: $dark;
    outline: none;
    padding: 5px 10px;
    padding-left: 35px;
    font-size: 16px;
    border: 1px solid lightgrey;
    width: 100%;
    background-color: white;
  }

  & > input::placeholder {
    color: grey;
  }

  & > svg {
    position: absolute;
    left: 5px;
    color: grey;
    font-size: 22px;
    margin-right: 10px;
  }
}

.todo-content {
  width: 95%;
  margin: 0 auto;
  min-height: 300px;
  max-height: 500px;
  overflow-y: auto;
  background-color: rgba(247, 247, 247, .5); 

  & > svg {
    display: block;
    font-size: 60px;
    margin: 70px auto;
    opacity: .5;
  }
}

#todos-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  margin-top: 10px;
  margin-bottom: 5px;

  & > p {
    margin: 5px 0;
    font-size: 14px;
  }

  & > div {
    font-size: 14px;
    color: $dark;
    margin-top: 15px;
  }

  & > div:last-child {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    font-size: 14px;
  }

  & > div:last-child > a {
    text-decoration: none;
    color: $dark;
    margin: 0 10px;
  }

  & > div:last-child > a:hover {
    color: $cus-green;
    transition: all .2s ease;
  }

  img {
    width: 18px;
    height: 18px;
  }
  small {
    font-size: 12px;
    color: $dark;
  }
}

#todo-counts {
  display: flex;
  position: relative;
  margin-right: 20px;

  img {
    width: 30px;
    height: 30px;
  }

  span {
    position: absolute;
    top: -3px;
    right: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $cus-green;
    color: white;
    font-size: 13px;
    font-weight: 600;
    width: 22px;
    height: 22px;
    border-radius: 30px;
  }
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 2px 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #ccc;

  &:hover, &.chosen {
    background-color: rgba(82, 122, 122, .2);
    outline-offset: -1px;
    outline: 1px solid #527a7a;
  }

  span {
    font-size: 18px;
    cursor: pointer;
    padding: 0 2px;
  }
}

#todo-item-input {
  width: 100%;
  outline: none;
  padding: 0 2px;
  font-size: 18px;
  width: 100%;
  border: none;
  border-bottom: 1px solid $cus-green;
  background-color: transparent;
  transition: .3s ease-in;
}

@keyframes slideDown {
  0% {transform: translateY(-100%); }
  100% {transform: translateY(0%); }
}

.todo-date {
  font-size: 10px;
  font-style: italic;
}